[2019-02-01 21:37] TonyBrobston opened #2 "window is not defined"
As soon as I: `import reactToPdf from 'react-to-pdf';`
I get: `ReferenceError: window is not defined`
Seems to be an issue with `jspdf`?
The error message pointed here:`node_modules/jspdf/dist/jspdf.min.js:37:30237`

[2019-02-01 21:54] ivmarcos commented on #2
Are you using React on server or front end?

[2019-02-05 19:22] TonyBrobston commented on #2
I'm importing it into a React project. Let me know if there are any other questions I can answer.

[2019-02-05 20:02] ivmarcos commented on #2
Hi @TonyBrobston! This type of error related to the message ```window is not defined``` happens when you are using on the server side (node) and not in the browser. That's why I asked if you were using React on the server, because this lib is intended to be used only in the browser, SSR is not supported, sorry.

[2019-02-15 14:24] bashleigh opened #3 "Cannot make pdf full width"
Hey! really liking this package :) Found a bit of an issue though and I'm not sure how to combat it.

So I've been trying to get my react component page to react full height and width of the PDF. This is an example of my code

[code]
this is the result of my react component. the `.innerDoc` class is 595px wide by 842px high.
![screenshot 2019-02-15 at 14 18 19](https://user-images.githubuserconten

[2019-02-15 15:06] bashleigh commented on #3
So after having a quick check I can see that you're creating a canvas image of the given referenced DOM element and adding that to jsPDF. https://github.com/ivmarcos/react-to-pdf/blob/master/src/index.jsx#L23

Looks like you can add a width and height to the image. Finding the correct width and height to apply would fix my issue :) I'm guessing there must be a way of obtaining the width and height

[2019-02-15 15:16] bashleigh commented on #3
Ok so, sorry for another comment.

I managed to get this working by manipulating the line mentioned above to the following

[code]
This does fix this issue; I'll open a PR. However the image is slightly blurry but it is full width + height.

[2019-02-15 17:12] ivmarcos commented on #3
Hi @bashleigh, glad you liked it :smiley:! This lib is really in the beginning and it is still necessary, in some cases, to customize the pdf output using the options props. It's just a wrapper using the incredible html2canvas and the fantastic jspdf and I'll release soon some other options to allow a refinement of this customization in a easy way.
PR is always welcome! Feel free to submit at any

[2019-02-16 08:22] bashleigh commented on #3
@ivmarcos ok cool :) Have you already started on the new release? Would you like some help?

[2019-02-20 17:22] ivmarcos commented on #3
Definitely, it would be awesome! At the moment I have some ideas that would be nice to support, such as multi-page, testing, an easy implementation for props such as page orientation, margin and resolution, often used. I've created the next branch for this and if you're interested, I can add you as a collaborator or you can as before send PRs, just let me know okay.

[2019-02-20 18:54] bashleigh commented on #3
yea that sounds cool :) if you make a project on github with a kanban and assign issues to me I'll give them a go :) up to you. I can always fork and PR?

Still not sure whether to make a PR for what I did recently? I suppose you've seen the fork I've made? https://github.com/ivmarcos/react-to-pdf/compare/master...bashleigh:feature/fullwidth I know you was talking about parameters and options to a

[2019-02-20 19:06] ivmarcos commented on #3
I'd rather you make a PR for the [next](https://github.com/ivmarcos/react-to-pdf/tree/next) branch, because full width is something I see as an option or a strategy to render the pdf in a deliberated way. I did see your fork, nice job! I'll then create a project as you suggested.

[2019-02-20 19:24] bashleigh commented on #3
cool will do, I'll check it out now. Yea I wasn't sure if that was right doing that. It fixes my issue but obviously it's a bit opinionated

[2019-03-27 19:48] #2 closed

[2019-06-10 20:13] yantakus commented on #2
I don't need it to render server side, but in my case I'm using next.js and the app is rendered initially at server. I thought I can do smth like this:

[code]
but it's not possible, because I'm getting `window is not defined` even when I'm just importing the library and not using it.

Why not using something like
[code]
before using it?

[2019-06-10 20:38] ivmarcos commented on #2
@yantakus, since you are using Next.Js, try using some strategy regarding NoSSR components. For example: https://nextjs.org/docs#with-no-ssr.

[2019-09-01 07:37] sshekhawat opened #5 "html2canvas error"
Hello
Actually i want to show pdf after click without show html view.
it is posible

[2019-09-12 03:00] teebeiz opened #6 "How can I use addPage() or auto split when I want to export long length data."
Here is my options, Can you help me config to solve my problems about split page. thank you so much.
<Pdf targetRef={ref} options={{
                            orientation: 'p',
                            unit: 'mm',
                            format: 'a4',
                            putOnlyUsedFonts: true
                        }} filename="đơn-xin-nghỉ-phép.pdf">

[2019-09-17 06:55] stefanorueda commented on #6
I also need the answer to this issue

[2019-09-18 10:21] longpro1601 opened #7 "Error: Image empty"
Hi,
I try react-to-pdf,
But I have error about biding image from url (ex: http://domain/static/image.png)
Library convert to pdf, but image cannot biding (mage empty on file PDF).
Please help, fix error .

Thanks.

[2019-09-18 11:22] ivmarcos commented on #6
As mentioned in README, it only supports single page. The multi-page feature is not currently being planned because the final file may be overly large, due to conversion to canvas in process. In this case I would suggest using https://react-pdf.org/ or use both html2canvas and jsPdf to manipulate the result as you want, e.g. http://jsfiddle.net/rpaul/p4s5k59s/5/

[2019-09-18 11:22] #6 closed

[2020-01-07 16:38] vitaliysobur commented on #3
hi @ivmarcos @bashleigh thank you for your work on this project. I was wondering if it is going to move forward or you have some other plans for the evolution of this module? I see the card is created and now sits in the "To Do" column.

[2020-01-08 22:45] ivmarcos commented on #3
Sorry @bashleigh and @vitaliysobur , I've been extremely busy and could not contribute much these last months. After thinking about it, I've decided not to support multiple pages for two reasons: first, the process of transforming html to canvas and then into base64 when using large size elements could make it unusable, it can easily exceed 2-3mb when using high resolution over 3 pages (letter/a4

[2020-01-08 22:45] #3 closed

[2020-01-08 23:56] ivmarcos commented on #5
Hello @sshekhawat try using html2canvas directly, something like https://stackoverflow.com/questions/20605269/screenshot-of-hidden-div-using-html2canvas. Otherwise, an codesandbox example demonstrating the problem would be nice.

[2020-01-08 23:56] #5 closed

[2020-01-08 23:58] ivmarcos commented on #7
Really sorry about the delay @longpro1601. Could you provide some example using codesandbox?

[2020-01-19 02:47] patrickleemsantos opened #8 "Creating new page"
How to create a new page if exceeds the height of the page?

[2020-01-29 14:30] hkayhan commented on #7
https://codesandbox.io/embed/jovial-hellman-k2bn2?fontsize=14&hidenavigation=1&theme=dark

[2020-02-07 11:09] mehuljariwala opened #9 "I would like to help to maintain this project."
@ivmarcos  thank you for this component!

It looks like we will use it in our new projects and I would like to help you to maintain the project.

[2020-02-11 14:15] tosifkhan01 commented on #7
Hey @hkayhan Any solution?

[2020-02-11 14:16] tosifkhan01 commented on #7
Hi @ivmarcos ,
I'm facing the same issue.
Can you provide workaround or something?

[2020-02-11 18:30] ivmarcos commented on #7
fixed in [v.0.0.10](https://github.com/ivmarcos/react-to-pdf/releases/tag/0.0.10), sample: https://codesandbox.io/s/dank-morning-zcu5i

[2020-02-11 18:30] #7 closed

[2020-02-17 20:49] Hatcher opened #10 "HTML2Canvas version causes double render of text in SVGs"
Hey,

There is a bug in the version of HTML2Canvas you're using. It causes SVGs to double render their text property. A more detailed description of the issue was addressed here: https://github.com/niklasvh/html2canvas/issues/734 I think all that is required is to upgrade the version in package.json.

[2020-02-18 11:39] tosifkhan01 opened #11 "PDF is not responsive"
While I'm generating the `pdf` with resolution `1920x1080` it is generating perfectly fine `pdf`, But when I'm trying to generate the same on `1366x768` the context is being zoomed in `pdf`.

[code]

These are the options I'm using, let me know if I'm doing something wrong here!

[2020-02-19 02:25] Hatcher commented on #10
This issue is not fixed in the latest version of HTML2Canvas, a work around is to set the fontFamiy and fontSize on the <text> of the SVG. Im going to close as theres nothing react-to-pdf can do and will require a fix from HTML2Canvas.

[2020-02-19 02:25] #10 closed

[2020-02-19 16:17] willianmesko opened #12 "Its possible add a content to the pdf?"
I, i need add a header and a footer only to the pdf, not to the component but i am having difficulty
Its possible do something like this?

thanks for the lib

[2020-02-20 08:13] #11 closed

[2020-02-22 19:29] ivmarcos commented on #12
Hi @willianmesko I don't see how you could do that. For more complex scenarios, I would suggest you take a look at https://react-pdf.org/.

[2020-02-22 19:29] #12 closed

[2020-02-23 20:54] mavalon opened #13 "Option to scale to fit"
Is there any way to scale the rendered image down to fit the page?  (Note: even the demo at https://codesandbox.io/s/l2l4pz0jyl only renders a portion of the canvas, and renders differently at different screen resolutions / browser sizes.)

[2020-02-24 21:54] #13 closed

[2020-03-04 11:49] cullsin opened #14 "how to disable to content and only option to download"
Hi,

I have a requirement to hide the view and the user must have an option to download.  Can you please suggest the appropriate tags for that.

thanks,
Raja K

[2020-03-05 05:33] manudevcode opened #15 "Scaling error on generate file ."
Some times the PDF is generated with an escalation, which sometimes leaves the PDF, this changes depending on the size and redemption of the screen.

Images of the code in sandbox that have in the documentation:

<img width="1440" alt="Captura de Pantalla 2020-03-04 a la(s) 23 31 29" src="https://user-images.githubusercontent.com/11260098/75950941-47aba200-5e70-11ea-83ae-1db401d85d89.png">

<img w

[2020-03-11 11:09] phoenixTW commented on #15
I am also facing the similar issue. Is there any solution to it?

[2020-03-11 13:55] ivmarcos commented on #15
seems to be a issue related to html2canvas, looking for possible solutions

[2020-03-11 13:57] ivmarcos commented on #14
sorry @cullsin, I didn't understand what you want to do. maybe putting an overlay in front of the element, is that it?

[2020-03-11 13:58] ivmarcos commented on #9
you're welcome. you can send PRs, help with the issues or make some suggestions anytime.

[2020-03-11 13:58] #9 closed

[2020-03-11 14:01] ivmarcos commented on #8
non-trivial feature, at least for now. studying solutions on how to solve in a simple way in the next version.

[2020-03-22 02:43] de-ocampo commented on #15
Also hitting the same issue. Having a really hard time figuring out how to get the scaling right.

[2020-03-24 06:47] Paa-Kwesi commented on #15
Any update on the fix for this issue?

[2020-04-02 13:00] ac4medeveloper commented on #15
I am also facing same issue, please do update
https://codesandbox.io/s/gracious-cannon-ubfc5

[2020-04-02 16:01] ivmarcos commented on #15
fixed in v.0.0.11

[2020-04-02 16:01] #15 closed

[2020-04-08 04:26] Imam-N opened #16 "Convert only One Page"
Hi ,

I am converting the Invoice Page to Pdf using react-to-pdf plugin.
Its Converted Particular Height of the Page Only.My Invoice Contains Two Number of Pages.
But this plugin only Convert a single Page with the Paticular Height.

[2020-04-16 19:15] kishore075 opened #17 "Error: "undefined ls-remote -h -t ssh://git@github.com/eligrey/FileSaver.js.git""
Hi I am getting error at step 1 while installing npm install react-to-pdf cannot install Error: "undefined ls-remote -h -t ssh://git@github.com/eligrey/FileSaver.js.git", can you please help

[2020-04-16 20:05] kishore075 commented on #16
Hey i cannot even install the react-to-pdf my npm command failes with error can you help npm install react-to-pdf

[2020-04-20 19:04] arhoy opened #18 "My PDF is getting cut off"
I have the following code

[code]

my PDF keeps getting cut off in width though. Ie. it only shows the left half of the page that is contained inside container...
How can I fix this?

[2020-04-22 17:52] chamodKanishka opened #19 "pdf quality issue"
actually, this was not an issue. I like this library a lot. but in here I mention that downloaded pdf files characters are with some kind of blur or less quality issu. can you fix it up

[2020-04-22 18:06] ivmarcos commented on #18
@arhoy you can try using the props *scale* to reduce the image size, ex:

[code]

[2020-04-22 18:10] ivmarcos commented on #19
@chamodKanishka this happens because the pdf is not vectorized, as mentioned in readme. You can try increasing the *scale* prop and/or adjusting the page size using the *options* prop. If that doesn't work, use html2canvas and jspdf manually.

[2020-04-22 18:12] ivmarcos commented on #17
@kishore075 sorry for the delay, seems not to be a problem with the library, but with the npm repository or something else. Tried here, everything ok.

[2020-04-22 18:12] #17 closed

[2020-04-22 18:14] ivmarcos commented on #16
@Imam-N as mentioned in readme, only single page supported at the moment, sorry. As alternative, you can try using html2canvas and jsPdf by your own.

[2020-04-22 18:14] #16 closed

[2020-04-22 19:55] arhoy commented on #18
thanks that sort of works but now everything is sort of to the left Also when I pass in the options I get no pdf, ie something breaks
Are you able to assist with that. I am just trying to do something fairly simple in that the it pdf should be in the center and not cut off

Thanks.
Here is my repo if that helps!
https://github.com/arhoy/resume-builder/blob/master/src/pages/resume-gatsby.js

[2020-04-22 20:00] arhoy commented on #18
Also even if I scale it gets cut off
![even-if-scale-gets-cut-off](https://user-images.githubusercontent.com/10405245/80027972-a7522100-84a1-11ea-8fda-5e42978fdb54.PNG)

[2020-04-22 20:56] #19 closed

[2020-04-22 21:02] ivmarcos commented on #18
centering could be done using *x* or *options* props, which are passed to the jspdf document, as for the cutting issue, can you provide a codesandbox reproducing the problem?

[2020-04-22 21:17] arhoy commented on #18
SUre,
https://codesandbox.io/s/github/arhoy/resume-builder?file=/src/pages/index.js

Thanks!

[2020-04-27 00:50] elbasan opened #20 "Cdn?"
Looked into unpkg and jscdn but can't find the library anywhere

[2020-04-28 21:28] ivmarcos commented on #14
closing due lack of response.

[2020-04-28 21:28] #14 closed

[2020-05-05 05:07] olakoziou opened #21 "Images"
I'm trying to implement your tool, but I have problem with downloading pdfs with images (set both as background-image and img). Img is dynamic and set with img={example} Do you have any idea how to fix it?

[2020-05-05 06:09] arhoy commented on #18
any luck?

[2020-05-05 06:09] #18 closed

[2020-05-05 14:14] gdcardoso commented on #21
I'm also trying to use it with the company's logo image, but I didn't succeed.

[2020-05-05 17:06] ivmarcos commented on #21
@olakoziou, @gdcardoso, could you create a codesandbox showing the problem?

[2020-05-05 19:49] gdcardoso commented on #21
@ivmarcos thanks for the feedback, but i found that the problem is when i use an image hosted in digital ocean spaces. Using a google image it worked perfectly.

[2020-05-06 08:43] olakoziou commented on #21
@ivmarcos yep, as @gdcardoso said. I use firebase and the problem is with link from there, ex https://codesandbox.io/s/relaxed-star-3h7ty?file=/src/App.js

[2020-05-23 11:07] MGMehdi opened #22 "Create a pdf without display the content"
Hi,

is it possible to download a PDF from an external component without mounting it ?

[2020-06-03 11:06] mehuljariwala opened #23 "Unable to find element in cloned iframe"
I am facing this error

[2020-06-04 07:18] leanesanity opened #24 "Is it possible to store the file in a folder inside react project ?"
Good day sir,

I need your help
Is it possible to store the file in a folder inside react project using your library?
If its possible, can you gave me a sample code ?

Thank you

[2020-06-07 15:38] zainulabd786 commented on #21
Did anyone find solution to this problem of displaying images in pdf?

[2020-06-12 14:46] hrkazemi commented on #22
for me, it creates a pdf without content and it's in `dom` and also visible.

[2020-06-22 14:57] ivmarcos commented on #24
hey @leanesanity sorry for the late reply. No, it is not possible, although I cannot undestand why you would need that.

[2020-06-22 14:57] #24 closed

[2020-07-06 09:27] a-ditucalan opened #25 "how to create multiple page"

[2020-07-06 19:11] vladcom commented on #21
@olakoziou Hi there. You could try use svg format for images. Its work for me

[2020-07-06 19:17] vladcom opened #26 "render pdf in list"
Hi. I have a list with 50> items. In each item I have a some unique information and button "Print me".
If I try download/print first item - everything is ok. But if i try download/print second item I got white area in a top, (100-200px maybe)
If I try download/print tenth item(for example), i got white page.

Maybe you know what is wrong with it?

Thank you)

[2020-07-07 09:30] vladcom commented on #26
@ivmarcos I found out that the display in the pdf file depends on the scroll. but did not find how to fix it yet

[2020-07-07 13:50] sadish-hub opened #27 "Got Unexpected token: keyword «const» error while running gulp"
I received " from UglifyJs
Unexpected token: keyword «const»" error while running gulp. Do you have transpiled ES5 version?

[2020-07-07 15:00] ivmarcos commented on #27
@sadish-hub it is already in es5, (index.js and lib/index.js).

[2020-07-07 15:09] ivmarcos commented on #26
@vladcom could you please provide a codesandbox showing the issue?

[2020-07-07 18:22] sadish-hub commented on #27
@ivmarcos  const index = require('./lib'); in index.js has problems with Uglify.js The const to be specific. I might be wrong here as well.

[2020-07-07 19:01] ivmarcos commented on #27
@sadish-hub sorry, but there is no *const* in that file (https://github.com/ivmarcos/react-to-pdf/blob/master/lib/index.js), maybe it is some uglify config related?

[2020-07-08 06:37] sadish-hub commented on #27
@ivmarcos  Can you check this? https://github.com/ivmarcos/react-to-pdf/blob/master/index.js

[2020-07-31 21:17] jcpage02 commented on #21
I am getting a CORS error when trying to create a pdf form HTML that includes an image that is stored on an S3 bucket.  The image renders just fine in the HTML, but it does not show up on the pdf.  Any ideas?

[2020-08-01 10:04] vladcom commented on #21
How you add image in your code? Could you send example?

[2020-08-07 18:26] jcpage02 commented on #21
I am using Leaflet.js and adding the image as a layer of the map with the addLayer() method.

[2020-08-14 02:12] i8ramin opened #28 "Got some GIT merge conflict lines in source"
https://github.com/ivmarcos/react-to-pdf/commit/8404d09f8acafa70f39479335a6e7d8b858e4d0b#diff-6d186b954a58d5bb740f73d84fe39073R58

[2020-08-27 22:00] bamtanh opened #29 "How to upload the generated pdf to server?"
Thank you for providing awesome plugin.
I really like this package.
just I want to upload the generated pdf to my server so that I can send pdf via email.
Is it possible?

[2020-09-01 20:30] thealgoritmo opened #31 "it only prints a quarter of my table"
I'm trying to print and save as PDF my table, but every time I generate the PDF it only prints a quarter...
[avaliação.pdf](https://github.com/ivmarcos/react-to-pdf/files/5158645/avaliacao.pdf)

[2020-09-02 10:30] ivmarcos commented on #31
@thealgoritmo can you provide a codesandbox showing the issue?

[2020-09-02 10:32] ivmarcos commented on #29
@bamtanh not possible, at least in the moment. You could try, though, using html2canvas and jsPdf directly to then create a blob and post to your server.

[2020-09-02 10:32] #29 closed

[2020-09-02 11:11] ivmarcos opened #32 "General Fixes"
Upgrad eslint
Conflicted code in source
Const to var in index
Support UMD

[2020-09-02 11:48] thealgoritmo commented on #31
can I send you the code?

[2020-09-02 12:35] ivmarcos commented on #32
Fixed in #33.

[2020-09-02 12:35] #32 closed

[2020-09-02 12:36] ivmarcos commented on #31
A codesandbox or jsfiddle would be much better please.

[2020-09-02 12:38] ivmarcos commented on #28
Thanks! Fixed in #33, v0.0.12.

[2020-09-02 12:38] #28 closed

[2020-09-02 12:38] ivmarcos commented on #27
Fixed in #33, v0.0.12.

[2020-09-02 12:38] #27 closed

[2020-09-02 12:38] ivmarcos commented on #26
Closing due lack of response.

[2020-09-02 12:38] #26 closed

[2020-09-02 12:39] ivmarcos commented on #25
No description. Multiple pages isn't supported (readme).

[2020-09-02 12:39] #25 closed

[2020-09-02 12:40] ivmarcos commented on #23
Please provide more information.

[2020-09-02 12:41] ivmarcos commented on #22
@MGMehdi not,

No, it needs to be mounted, since it uses html2canvas behind.

[2020-09-02 12:41] ivmarcos commented on #22
@hrkazemi please try the lastest version, v.0.0.12.

[2020-09-02 12:41] #22 closed

[2020-09-02 12:43] ivmarcos commented on #21
Have you tried the latest v.0.0.12? If so, please provide a codesandbox or jsfiddle with the issue.

[2020-09-02 12:47] thealgoritmo commented on #31
https://codesandbox.io/s/smoosh-wood-zgq8f?file=/src/App.js

[2020-09-02 12:58] ivmarcos commented on #20
Thanks! Provided in v.0.0.13.

https://unpkg.com/react-to-pdf@0.0.13/umd/react-to-pdf.js
https://unpkg.com/react-to-pdf@0.0.13/umd/react-to-pdf.min.js

[2020-09-02 12:58] #20 closed

[2020-09-02 13:01] ivmarcos commented on #31
The page isn't rendering, syntax errors showing up.

[2020-09-02 13:04] thealgoritmo commented on #31
it's a bit complicated because I get the values from axios (localhost) and other stuff...

[2020-09-02 13:37] ivmarcos commented on #31
No problem. You could share a screenshot. The problem is related to multiple pages? If so, please note that isn't supported.

[2020-09-02 14:44] thealgoritmo commented on #31
Screenshot's code?

[2020-09-02 15:02] thealgoritmo commented on #31
Só uma questão, Vi que és do Brasil. Não é melhor falar pt-BR? xD

[2020-09-02 20:46] ivmarcos commented on #31
@thealgoritmo opa! Então eu me referi a enviar uma cópia da tela demonstrando o corte na tabela. E que se for o problema de a área de impressão ocupar mais de uma página, esse recurso não é suportado (ainda).

[2020-09-02 20:53] thealgoritmo commented on #31
![print](https://user-images.githubusercontent.com/11939571/92035498-b5288480-ed66-11ea-9a18-bc36d9b53d6e.png)
Como podes ver no print ele devia gerar um PDF disso, mas não só até ao azul e metade...

[2020-09-02 20:55] thealgoritmo commented on #31
E só ocupada uma página. Para indagar mais no problema eis que, se eu colocar o botão para gerar o PDF antes da tabela ela é apanhada na sua totalidade, depois da tabela fica com o tal corte... e eu queria por questão de estética o botão cá em baixo..

[2020-09-15 01:00] ivmarcos commented on #21
Closing for now, cors errors with images were fixed in recent releases. Reopen in case the issue still remain.

[2020-09-15 01:00] #21 closed

[2020-09-16 08:56] ashishiiit01 opened #34 "Pdf Generated is very Blurry ."
[vardaan-invoice.pdf](https://github.com/ivmarcos/react-to-pdf/files/5230975/vardaan-invoice.pdf)
**When Scale={1}, The pdf is very blurry .**
[vardaan-invoice (2).pdf](https://github.com/ivmarcos/react-to-pdf/files/5230987/vardaan-invoice.2.pdf)
**When scale={0.5}, it is  displaying full QR CODE but pdf quality is so low, that I can't scan the QR CODE**
[vardaan-invoice (3).pdf](https://github.co

[2020-09-18 03:39] MallikarjunHt opened #35 "multiple section"
# multiple section
how to include multiple react components to a single pdf

[2020-09-23 21:12] rahulsingh806080 opened #36 "Iframe inside div is not getting captured"
Iframe inside div is not getting captured. to avoid cors i deployed iframe on localhost:8000 and my code is on localhost:5000
In screenshot u can see blue color is div inside that iframe( localhost:8000 ) is there. only div is getting captured with blue color not iframe contents

<img width="1429" alt="Screen Shot 2020-09-24 at 2 39 18 AM" src="https://user-images.githubusercontent.com/16794968/94

[2020-09-25 20:48] VeerneToor opened #37 "Element is not attached to a Document"

[2020-09-25 20:49] VeerneToor commented on #37
![image](https://user-images.githubusercontent.com/48494332/94314668-9d4bb700-ff46-11ea-9a23-b9da0091621e.png)

[2020-09-25 20:50] VeerneToor commented on #37
![image](https://user-images.githubusercontent.com/48494332/94314731-c5d3b100-ff46-11ea-825b-cbd4e7740e48.png)

[2020-09-26 00:48] ivmarcos commented on #37
@VeerneToor please provide a codesandbox or jsfiddle showing the issue.

[2020-09-26 00:49] ivmarcos commented on #36
@rahulsingh806080 please provide a codesandbox or jsfiddle showing the issue.

[2020-09-26 00:51] ivmarcos commented on #35
@MallikarjunHt this lib only requires a React ref. So if you use a container to wrap your components and use its ref you should be good.

[2020-09-26 00:51] #35 closed

[2020-09-26 00:52] ivmarcos commented on #34
@ashishiiit01 please provide a codesandbox or jsfiddle showing the issue.

[2020-10-05 08:37] madiyar commented on #37
I caught same error. I wrapped component to div element with ref and it works.
`<div ref={pdfRef}>
    <ReactComponent ... />
</div>`

[2020-10-06 18:57] muhammadowaiswarsi opened #39 "Generating Blank pdf file"
when i click on export button library generates blank pdf file

`<ReactToPdf
                      targetRef={reference1}
                      x={5}
                      y={5}
                      scale={1}
                      filename="my-stocks.pdf"
                      options={pdfOptions}

                      {({ toPdf }) => (
                        <IconButton

[2020-10-08 15:19] sahaditya commented on #39
I am also facing the same issue if I add the options props

[2020-11-14 10:36] Mary19Star opened #40 "error when installing react-to-pdf package"
when i try to install react-to-pdf package using this command : npm install react-to-pdf
i get this errors :

[code]
could someone tell me what the problem is ?

[2020-11-19 16:57] cderche commented on #37
@madiyar could you please provide an example. Thank you.

[2021-01-04 12:43] viniciushfr opened #41 "Svgs don't seem to be rendered correctly"
I have this svg on the page.
![image](https://user-images.githubusercontent.com/13749294/103536125-aebf2c00-4e70-11eb-8896-7f3a58c5cf51.png)
when i download with that lib, the result is
![image](https://user-images.githubusercontent.com/13749294/103536232-e4641500-4e70-11eb-885a-3d5f630959a1.png)

it doesn't happen with images, anyone can help me with that?

[2021-01-15 11:46] akashmrk commented on #34
pdf resolution is low in the codesandbox that you provided itself. Is it a solvable issue ??

[2021-01-15 11:52] MallikarjunHt commented on #34
what method are you using, if using `ctrl + p` or the Browser way of printing then we get very low resolution. if you can explain how or what methods you use then we can think of a possible solution.
Thank you :nerd_face:

[2021-01-15 11:57] akashmrk commented on #34
@MallikarjunHt Are you asking @ivmarcos  or me ?

[2021-01-15 11:58] akashmrk commented on #34
@MallikarjunHt https://codesandbox.io/s/l2l4pz0jyl?file=/src/index.js just zoom the generated pdf, youll find it to be a low res.
For smaller texts its pretty much pixelated.

[2021-01-15 13:30] benswinburne commented on #34
The only way I managed to get this not to blur is to implement it outside this library for now so i could control the scale options of the `addImage` function. Just adding what I did in case it's helpful to someone the facility gets added to this library.

[code]

Combining the scale property on html2canvas with the width and height options on pdf.addImage gets me a non blurred image.

---

(not t

[2021-01-16 08:05] Razi321 opened #44 "blank pdf generated in production"
in development  everything work fine but in production i only see a blank page

[code]

Development :
<img width="1792" alt="Screen Shot 2021-01-16 at 16 54 32" src="https://user-images.githubusercontent.com/38192665/104806731-ffde0100-581c-11eb-8ea0-f2ef3f1cb2c2.png">

Production :
<img width="1792" alt="Screen Shot 2021-01-16 at 16 54 41" src="https://user-images.githubusercontent.com/38192665/1

[2021-01-25 16:13] wadehenning opened #45 "PDF Download issues on Mac"
`react-to-pdf` works perfectly on my Windows 10 machine, both in Firefox and Chrome.  However, I have gotten feedback that people using Mac's are having issues-- they are getting a black and white download.  Any suggestions?  Here is a CodeSandbox.

https://codesandbox.io/s/project-1-i-love-this-bar-forked-5v8qg

[2021-01-26 14:30] wadehenning commented on #45
I updated my original post to focus on the black and white download issue.

[2021-01-28 21:15] #45 closed

[2021-02-09 04:16] harleylang opened #47 "package.json "module" value points to missing file"
Currently using node `v.14.15.4` and snowpack in my dev environment. After install, I received the following error:

[code]

I was able to fix this locally by changing the following value in `package.json`:

[code]

[2021-02-13 15:58] rootical commented on #37
It happens when you pass a `ref` around. In order to do that you should use `forwardRef` for example.

[2021-02-18 10:41] baelter commented on #40
Still an issue: https://github.com/ivmarcos/react-to-pdf/issues/17

[2021-03-04 05:10] twalton83 commented on #47
Still appears to be an issue as well.

[2021-03-17 07:01] tristanhcole commented on #39
If you do don't use format, it seems to work for me
[code]

[2021-03-24 08:59] rafioktavian commented on #40
i have same problem, i found error when installing this plugin

[2021-04-01 18:03] philbert440 opened #48 "xmldom needs an update"
=== npm audit security report ===

                                 Manual Review
             Some vulnerabilities require your attention to resolve

          Visit https://go.npm.me/audit-guide for additional guidance

  Low             Misinterpretation of malicious XML input

  Package         xmldom

  Patched in      >=0.5.0

  Dependency of   react-to-pdf

  Path            react-to-pdf >

[2021-04-13 10:17] mathur619 commented on #8
Is there a solution for this ??

[2021-04-13 10:19] mathur619 commented on #8
You find any solution?

[2021-04-13 15:22] ClydSpyd opened #49 "Unit/format options not working"
Hello.

I love this tool, it really helped me out with a feature I was working on, so thanks a lot!

One issue I'm having is that the 'unit'/'format' keys on the settings object do not seem to be having the desired effect. I keep getting tiny little files rather than the measurements I input.

Here's an example:

[code]

The input values are:
cover_width: 12.316756756756757
cover_height: 9.25

It

[2021-04-16 20:39] philbert440 commented on #48
![image](https://user-images.githubusercontent.com/7538030/115081442-44d40b00-9ed2-11eb-9586-4ff6828c1aa0.png)

[2021-04-28 14:46] KirillAleshkin commented on #34
can someone know to solve this problem yet

[2021-04-29 05:26] ralphvirtucio commented on #37
Hi, @VeerneToor, Did you solve this issue already ?

[2021-04-30 11:42] dharshan0011 opened #50 "Could not resolve dependency: npm ERR! peer react@"^16.5.2" from react-to-pdf@0.0.13"

[2021-05-06 19:40] ltakato commented on #2
@ivmarcos next team update their page, on nowadays this kind of info is located here:
https://nextjs.org/docs/advanced-features/dynamic-import#with-no-ssr

[2021-05-12 07:25] digidub commented on #50
I am also experiencing this issue.

`npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: cv-project@0.1.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"^17.0.2" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.5.2" from react-to-pdf@0.0.13
npm ERR! node_modules/react

[2021-05-18 10:36] Gucal commented on #2
As @ltakato  said, you will not have this problem when you use dynamic import.

Example:

`import dynamic from 'next/dynamic'
const ReactToPdf = dynamic(
  () => import('react-to-pdf'),
  { ssr: false }
)`

[2021-05-18 18:34] #23 closed

[2021-05-18 18:38] ivmarcos commented on #34
This is a know downside basically related to how it works the library. Seems a complex but nice feature to have and I'd love any PR for this. Scaling should be a way to solve this but that brings increase in size.

[2021-05-18 18:38] #36 closed

[2021-05-18 18:38] #37 closed

[2021-05-18 18:39] ivmarcos commented on #39
If the format does not work please reopen this.

[2021-05-18 18:39] #39 closed

[2021-05-18 22:45] ivmarcos commented on #48
Should be fixed in https://github.com/ivmarcos/react-to-pdf/releases/tag/0.0.14

[2021-05-18 22:45] #48 closed

[2021-05-18 22:46] ivmarcos commented on #44
Try using the latest version, probably some html2canvas dependency related https://github.com/ivmarcos/react-to-pdf/releases/tag/0.0.14

[2021-05-18 22:50] ivmarcos commented on #40
Not being able to reproduce. Used `yarn install react-to-pdf@latest` and `npm install react-to-pdf@0.0.14`

[2021-05-20 07:37] baelter commented on #40
Worked around it by adding this to our `package.json`
[code]

[2021-05-26 15:50] iamsajithsasi opened #52 "Left side is offset and right side is cut off"
I forked sample sandbox given in the readme and generated pdf. But, texts got cut off and its was off the alignment.

I referred and added CSS properties to match a4 paper size and it rendered pdf. But, still there is a offset in the left side with white space and right side is cut off.

![image](https://user-images.githubusercontent.com/59168331/119690973-cd49b200-be67-11eb-83f1-d84ec04bb773.png)

[2021-06-02 01:45] Givo29 commented on #50
What version of react are you guys using?

Maybe try using the newest version of react-to-pdf (`0.0.14`)

[2021-06-16 21:10] jals990 commented on #21
@jcpage02  @zainulabd786 @gdcardoso @olakoziou alternative solution 😅

Use **https://astro-cors-server.herokuapp.com/fetch/** for bypass CORS, example:

<img src="http://yourdomain.com/yourpic.png" />

use:

<img src="**https://astro-cors-server.herokuapp.com/fetch/**http://yourdomain.com/yourpic.png" />

[2021-07-01 20:12] Smartmikey commented on #50
I get the same error while trying to install the Version 0.0.14 of react to pdf

[2021-07-01 20:17] Givo29 commented on #50
@Smartmikey what version of react are you using?

[2021-07-02 10:30] Sjark commented on #50
I'm having the same problem, using React 17.0.1

[2021-07-02 14:04] Smartmikey commented on #50
@Givo29 I'm using React version 17.0.1

[2021-09-30 08:55] pnyennhi opened #54 "Example is not working"
I've accessed this example link but it seemed not to be working. Nothing happened when I clicked `Generate Pdf` button.
[https://codesandbox.io/s/l2l4pz0jyl](https://codesandbox.io/s/l2l4pz0jyl)

Could you please give me a working one?

[2021-10-13 03:56] itsshajad opened #55 "image is not rendering in image removed when pdf downloaded"

[2021-11-14 23:15] afrancht commented on #50
Bump on this!

[2021-11-18 06:45] guerillarealty commented on #50
I'm having the same issue while working with React 17.0.2

[2022-01-05 00:46] olabamipetaiwo opened #57 "Using react-to-pdf with typescript"
This package doesn't have a types file to use with typ[escript

[2022-01-07 15:28] calebchiam opened #58 "React 17 compatibility"
Hi! Thanks for this very useful package. I was wondering, do you have any plans to make this compatible with React 17?

[2022-01-24 14:27] ayberkbaytok opened #59 "Can't fix `Supplied Data is not a valid base64-String` error"
Hi there,
I can't fix `Uncaught (in promise) Error: Supplied Data is not a valid base64-String jsPDF.convertStringToImageData`
error.

My environment is:
"react": "^16.12.0"

Ok everyone that was an enironmental issue. Sorry for bothering.

[2022-01-24 14:32] #59 closed

[2022-01-26 17:28] LenaHovhannisyan opened #60 "After generate PDF texts are getting blurred"
When I generated pdf files it showed texts blurred

[2022-01-28 18:50] ezequielhernancasas opened #61 "Its possible print without a button?"
It's possible print without a button? I mean if I can use into a function when is success a process print the file?

[2022-01-31 21:30] oliverterrell commented on #55
The title is confusing and there is no information but I am having this same problem.

I am including an image in an `<img />` tag that displays well in my component. Then when I click the download button, the layout still holds but there is no image, just empty space.

Are we able to include images in our PDFs?

[2022-02-02 15:00] alikarani commented on #60
use scale property to fix it.

[2022-02-04 21:01] crscaballero commented on #54
I've changed the `Pdf` to use `ReactToPdf` and that worked for me

https://codesandbox.io/s/optimistic-chatelet-w8p6y

[2022-02-07 08:13] ekremtinas opened #62 "fontSize error while exporting pdf"
I catched font size error while exporting pdf when project developing with React.Please help me.

[2022-02-24 09:02] Tushar-Yadav-TCPL commented on #55
I am also facing same issue.

[2022-02-26 05:27] dudusohne commented on #58
it's not?

[2022-03-24 14:47] SinaSaintZero commented on #55
Same issue

[2022-04-18 03:59] Igor2122 opened #63 "copy text from generated file"
Not able to copy text from generated pdf file ...

[2022-04-18 04:31] singhkunal2050 commented on #50
Same for me with React 18.0.0

[code]

[2022-05-03 09:55] kdRanaa opened #64 "Horizontal scroll Issue"
When there is a horizontal scroll in a component,PDF generated only shows the component which are visible in screen and rest are discarded.

[2022-05-24 21:35] GurayCoskun commented on #61
any idea?

[2022-06-21 08:40] CihatKOCAK opened #65 "File Path"
is it possible for us to set the download file path as default?

[2022-06-22 05:58] CihatKOCAK commented on #65
or can we get the path it downloaded

[2022-06-29 13:30] Amaka202 commented on #55
hello, @SinaSaintZero  @Tushar-Yadav-TCPL @crscaballero @oliverterrell @itsshajad I am currently experiencing this and wanted to know if any of you were able to find a solution? 🙂

[2022-06-29 13:38] oliverterrell commented on #55
Unfortunately I was not. Due to time constraints I had to pivot to another library instead of taking a ton of time to figure this issue out. I used `react-pdf` https://react-pdf.org/ instead, which was workable. I don't like `react-pdf` because it doesn't let you use anything but its own component library, which is super inconvenient and consumes a lot more time than using any old JSX, but with th

[2022-06-29 20:39] Cwittofur commented on #50
The fix for this issue would be to update the package.json file for this project itself.

The workaround would be to `npm i --legacy-peer-deps` which will cause npm to install this and its peer dependencies (in this case React 16.5.2) it's not ideal, but it works.

[2022-07-26 06:23] loki344 commented on #57
Any news on this?

[2022-08-23 18:55] alvarosalas opened #66 "Would like to have setDisplayMode "continuous""
This is not an issue but it would be nice to have setDisplayMode for this npm

[2022-08-31 06:43] hsynerkl commented on #65
köyüne dön

[2022-09-06 13:47] israelitalo commented on #57
Has anyone managed to solve this problem?

[2022-09-14 17:32] Knap4Sack opened #67 "Issue with recent react version ?"
If anyone is having issue with react version they may use this [package](https://www.npmjs.com/package/@kunwarji/react-to-pdf) over npm.
https://github.com/KunwarVSuryavanshi/ReactToPDF

[2022-09-28 06:21] usfslk commented on #66
Did you manage to show multiple pages? if so how? For me it only showing 1 page and rest of the content is cropped

[2022-09-28 10:36] bhattiasad99 commented on #41
@viniciushfr  did you find a solution to this problem? Im facing the same issue
my svg on page
![image](https://user-images.githubusercontent.com/69630565/192758065-f7c2255f-30aa-4ea4-809b-dc243ce5c726.png)
downloaded file
![image](https://user-images.githubusercontent.com/69630565/192758124-2b7f9725-2c0f-47d7-8f66-c9137639fa3d.png)

[2022-09-28 10:36] bhattiasad99 opened #68 "@viniciushfr did you find a solution to this problem? Im facing the same issue"
@viniciushfr  did you find a solution to this problem? Im facing the same issue
my svg on page
![image](https://user-images.githubusercontent.com/69630565/192758065-f7c2255f-30aa-4ea4-809b-dc243ce5c726.png)
downloaded file
![image](https://user-images.githubusercontent.com/69630565/192758124-2b7f9725-2c0f-47d7-8f66-c9137639fa3d.png)

_Originally posted by @bhattiasad99 in https://github.com/ivmarc

[2022-09-28 11:16] bhattiasad99 commented on #13
@ivmarcos how did you fix it? I need help, because my image is not scaling properly

[2022-10-01 11:06] Imam-Abubakar opened #69 "Rendering beyond a single page"
Is there a way to have more than a single page document if the content I'm tryna render spans multiple pages?

[2022-10-03 18:25] svandegar commented on #58
@Knapsack123 , I tried it but seems to be only compatible with React 18, not 17.

[2022-10-05 18:50] Safnaj commented on #66
I am facing the same issue. Is A4 is fixed ? can't we change the size ?

[2022-10-25 22:43] mmozammel99 commented on #40
npm i react-to-pdf --f try this

[2022-11-24 08:58] sajeebmahamed commented on #57
I solve this issue. Firstly, Create a folder **typings** then create file **index.d.ts** inside the folder. then declare module `declare module 'react-to-pdf'`. Then add `"typeRoots": [
        "./typings",
        "./node_modules/@types"
    ]` inside tsconfig.json.

 Folder Structure:

-  typings
   - index.d.ts
     `declare module 'react-to-pdf'

![ts-config](https://user-images.githubusercont